body {
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.Title {
  margin-top: 0;
}

form {
  margin-top: 20px;
}

.radio-group {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

input[type="radio"]:hover+label {
  background-color: #585858;
  color: white;
  transition: 0.3s ease;
}

input[type="radio"]:checked+label {
  background-color: #fff;
  color: #000;
}

input[type="submit"], button[type="button"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button[type="button"]:hover {
  background-color: #555;
  color: #fff;
}

input[type="submit"]:active, button[type="button"]:active {
  background-color: #222222;  
}

.textbox-container {
  margin-top: 20px;
}

.textbox-container input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}